body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  background-color: #171616;
  color: #f6f6f8;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 0.3fr 5fr;
  min-height: 100vh;
}

.navbar.bg-dark {
  background-color: #272627 !important;
  border-bottom: 1px solid #414140 !important;
  letter-spacing: 1px;
  height: 10vh;
  padding: 0% !important;
}

header {
  grid-area: header;
  background-color: #0d0c0d;
  color: white;
  padding: 1rem;
}

main {
  margin-top: 5vh;
  grid-area: main;
  padding: 1rem;
  overflow: auto;
}

.footer-container {
  margin-top: 5vh;
  border-top: 1px solid #414140;
  min-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: #171616;
}

h4 {
  font-size: 30px;
  letter-spacing: 2px;
  font-variant: small-caps;
  background: linear-gradient(45deg, #8b5517, #f8bbd2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
