.colorsTLO_bright {
  background-color: #272627;
}
.colorsTLO_dark {
  background-color: #171616;
}
.colorsBORDER {
  background-color: #414140;
}
.colorsCOLOR {
  background-color: #a3a195;
}
.colorsCOLOR2 {
  background-color: #fafbfb;
}
.colorsDANGER {
  background-color: #f54254;
}
.colorsBLACK {
  background-color: #0d0c0d;
}
.colorYELLOW {
  background-color: #ff9805;
}
.colorGREEN1 {
  background-color: #01a58f;
}
