.alert-danger {
  color: crimson;
  font-size: 10px;
  background: none;
  border: none;
  padding: 0;
}

.edit-form {
  min-width: 500px;
  padding: 10px;
  border: 1px solid #414140;
  border-radius: 10px;
  background-color: #171616 !important;
}

.edit-form label {
  text-transform: lowercase;
  font-size: 11px;
  letter-spacing: 1.3px;
}

.edit-form input {
  border-radius: 1px;
  color: #a3a195 !important;
  letter-spacing: 1px;
}

.edit-form input[type="text"] {
  border: 1px solid #ddd;
  color: #a3a195 !important;
  letter-spacing: 1px;
}

.edit-form select {
  border-radius: 1px;
  width: 100%;
  color: #a3a195 !important;
  letter-spacing: 1px;
}

.edit-form input:focus,
.edit-form select:focus {
  outline: none;
  border: 0.5px solid #b3b3b3;
  box-shadow: 0 0 2px 1px #b3b3b3;
}
