.container-page {
  background-color: #272627;
  border: 1px solid #414140;
  border-radius: 10px;
  padding: 5vh;
}
.container-page h3 {
  color: #414140;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 10vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-page h2 {
  background: linear-gradient(45deg, #bb6400, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  letter-spacing: 8px;
  margin-bottom: 20px;
  margin-left: 10vh;
  font-variant: small-caps !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container-table {
  min-height: 50vh;
  border: 0.7px solid #414140;
  border-radius: 5px;
  font-size: 15px;
  padding: 5vh;
}

.container-home {
  border: 0.7px solid #414140;
  background-color: #272627;
  border-radius: 10px;
  padding: 5vh;
  margin-bottom: 10vh;
}

.container-profile {
  border: 0.7px solid #414140;
  background-color: #272627;
  font-family: monospace;
  font-variant: small-caps;
  font-size: 27px;
  font-weight: 400;
  color: #a3a195;
  border-radius: 20px;
  padding: 5vh;
  margin-bottom: 10vh;
}

.position-column {
  width: 70px;
  white-space: normal;
}

.panel-func {
  display: flex;
}

/***** choose-wallets******/

nav.main-wallets {
  padding: 0 30px 0px 0;
  text-align: center;
  background-color: #272627;
}

.main-wallets ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

nav.main-wallets a {
  background-color: #0d0c0d;
  min-width: 130px;
  display: inline-block;
  text-decoration: none;

  color: #ccc;
  font-weight: bold;
  padding: 2px 20px;
  margin: 10px 20px;
  transition: 0.2s;
  border: 1px solid #414140;
  border-radius: 2px;
}

nav.main-wallets a:hover {
  color: #eee;
}

nav.main-wallets a.active {
  color: #fff;

  transform: translateY(11px);
}

nav.main-wallets li a.active {
  border-bottom: 2px #ff9805 solid;
}
